PORT=5000
SUPABASE_URL=https://fgwkzweywzmpnebnrwvm.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZnd2t6d2V5d3ptcG5lYm5yd3ZtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDUzNzUxMywiZXhwIjoyMDg2MTEzNTEzfQ.VNhrnk_Qm20FzC0v6HlzlsJvMBUC12vWRkcJwgTWha0
FRONTEND_URL=http://localhost:3000
